*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
 display: flex;
 height: 100vh;
background-color: rgb(255, 255, 255);
justify-content: center;
align-items: center;
}

.google{
display: flex;
column-gap: 10px;

}
.google .dot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    animation: animate 1s ease-in-out infinite alternate;
}
.dot:nth-child(1){
    background-color: rgb(48, 48, 250);
    animation-delay: 0.25s;
}
.dot:nth-child(2){
    background-color: red;
    animation-delay: 0.50s;
}
.dot:nth-child(3){
    background-color: rgb(255, 217, 0);
    animation-delay: 0.75s;
}
.dot:nth-child(4){
    background-color: green;
    animation-delay: 1s;
}
@keyframes animate{
    0%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(10px);
    }
}